h1, h2{
    color: #fff;
    
    text-align: center;
}

h1{
    font-size: 1.5rem;
    margin: 2rem 0 1rem;
    font-weight: normal;
    color: #d60791;
}

h2{
    font-size: 3rem;
    font-weight: bold;
}

p{
   text-align: center;
   font-size: 0.8rem; 
   color: #fff;
   margin: 2rem 0;
}